services:
  pg2:
    image: postgres
    environment:
      POSTGRES_DB: shop2
      POSTGRES_USER: shop2
      POSTGRES_PASSWORD: shop2
    ports:
      - '5432:5432'

  adminer:
    image: adminer
    ports:
      - '8080:8080'

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - '5050:80'
